* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
}

header {
    height: 70px;
    background-color: #0d2c54;
    color: white;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login-form{
    position: relative;
    top:7vh;
    width:35%;
    border: 2px solid #0d2c54;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
#mode{
    margin:20px;
    padding: 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
button{
    width: 110px;
    height: 40px;
    font-size: 18px;
    border: 0px;
    border-radius: 14px;
    background-color: white;
}
#mode .active{
    background-color: #1d57a1;
    color: white;
}
.mode-button:hover{
    background-color: #1d57a1;
    color: white;
}
.buttons{
    background-color: #1d57a1;
    color: white;
}
#details{
    margin:20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:center
}
.details-row{
    display: flex;
    align-items:center;
    margin-bottom:15px;
}

.details-row label{
    width:100px;
}

.details-row input{
    width:180px;
    padding:5px;
}
#submit-div{
    margin:20px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
a{
    color: white;
    text-decoration: none;
}
.nav-bar-tabs{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;   
}
#nav-bar .active {
    width:120px;
    border-bottom:3px solid #1d57a1;
}
table{
    width: 100%;
    height: 357px;
    border-collapse: separate;  
    border-spacing: 0;
}

thead th{
    position: sticky;
    top: 0;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    color: black;
}
.table-container {
    width: 100%;
    max-height: 349px;
    overflow-y: auto;
}
.scoreboard{
    max-height: 500px;
    overflow-y: auto;
}
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.pagination-nav-div{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.pagination-buttons{
    margin:20px;
}

.admin-only{
    display:none;/*becomes block when admin login*/
}
.admin-buttons{
  width: 150px;
}
.modal {
    display: none;
    justify-content: center;
    align-items: center;
}
.slide-modal{
    width: 100%;
    height: 280px;
}
.pop-modal{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px #0d2c54 solid;
    border-radius: 35px;
    width:250px;
    height:280px;
    background-color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.match-card{
    background-color: white;
    border: 2px #0d2c54 solid;
    border-radius: 35px;
    width:80%;
    display: flex;
    justify-content: space-around;
    height: 120px;
    padding: 10px;
}
.match-info{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.match-scores{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size:x-large;
    font-weight:400;
    color: #0d2c54;
}
.match-card-actions{
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
}
.match-title{
    color: #0d2c54;
    font-size: large;
    font-weight: bold;
}
.match-teams{
    color:grey;

}
.match-date-time{
    color: grey;
    font-size: smaller;
}
.label{
    font-weight:500;
    font-size: small;
}
.match-status-heading{
    font-size:18px;
    font-style: italic;
}
.match-winner-details{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.match-winner{
    margin:10px;
    font-style: italic;
    color:#1d57a1;
}

.back-nav{
    width: 15%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-nav-text{
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-nav-symbol{
    display: flex;
    justify-content: center;
    align-items: center;
}
